# Node / frontend
node_modules/
.npm/
.env
.env.*
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build / output
build/
dist/
out/
.next/
coverage/

# Editor / OS
.vscode/
.idea/
*.swp
*.swo

# Python (if applicable)
__pycache__/
*.pyc

# Misc
*.local

.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
__pycache__/
*.pyc
.venv/
.pytest_cache/
*.tfvars
!*.tfvars.example
